@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fa;   /* Clean soft background */
  color: #212529;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Better typography feel */
h1, h2, h3, h4, h5 {
  font-weight: 600;
}

p {
  color: #6c757d;
}
